
<div class="container">
    <div class="alert alert-primary" role="alert">
        <a href="/" class="btn btn-primary ">Volver a Estudiantes</a>
    </div>

    <div class="container col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Agregar Estudiantes</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addPerson()">
                    <div class="form-group">
                        <label for="">Nombres</label>
                        <input type="text" name="nombres" id="nombres" formControlName="nombres" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Apellidos</label>
                        <input type="text" name="apellidos" id="apellidos" formControlName="apellidos" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Programa</label>
                        <input type="text" name="programa" id="programa" formControlName="programa" class="form-control" required>
                    </div>
                    <button type="submi" class="btn btn-danger" [disabled]="!form.valid">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>  